/* General styles for the view list component */
.viewList-con{
    width: 90%;
    height: 90vh;
    margin: auto;
}
.view-list-state-select{
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.View-toggle-buttons{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.View-toggle-buttons button{
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.viewList-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.viewList-section button{
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    border:none;
}
.viewList-section p{
    color: white;
}
.View-toggle-buttons button{
    margin-left: 10px;
}
/* Drag-and-drop headers container */
.View-list-headers-container{
    display: flex; /* Flex layout to arrange headers horizontally */
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 4px; /* Rounded corners */
  }
  
  /* Individual draggable header */
  .header-selected, .header-unselected {
    padding: 6px 12px;
    border: 1px solid #d1d1d1; /* Border color for headers */
    border-radius: 5px; /* Rounded pill shape */
    background-color: #ffffff; /* White background for each header */
    cursor: grab; /* Cursor indicates the item is draggable */
    user-select: none; /* Prevent text selection while dragging */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    transition: background-color 0.2s ease; /* Smooth transition for background color */
  }
  
  /* Style for a header that is selected to be displayed */
  .header-selected {
    background-color: #007bff; /* Highlight color for selected headers */
    color: white; /* White text color for contrast */
    border-color: #007bff; /* Border color matches background */
    margin-bottom: 5px;
  }
  
  /* Style for a header that is not selected to be displayed */
  .header-unselected {
    &:hover {
      background-color: #f0f0f0; /* Slight background change on hover for unselected headers */
    }
    margin-bottom: 5px;
  }
  

  .Modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .Modal {
    /* background: #333; */
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .Modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  