/* Styles for the header container */
.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Styles for individual header items */
  .header-item {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: grab;
  }
  
  /* Highlighting the header item being dragged */
  .header-item.is-dragging {
    background-color: #e1e1e1;
    border-color: #aaa;
  }
  
  /* Styles for the checkbox within header items */
  .header-item input[type="checkbox"] {
    margin: 0;
  }
  .compare-toolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    align-items: center;
  }
  .compare-toolbar-buttons button{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  .compare-toolbar-buttons button:hover{
    cursor: pointer;
  }

  .CompareData-table-container {
    width: 100%;
    height: 78vh;
    overflow: auto;
    border-radius: 10px;

  }
  .CompareData-table-container::-webkit-scrollbar {
    display: none;
  }
  .CompareData-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8; /* Light shade of gray for contrast */
    color: #333; /* Dark text for readability */
  }
  
  .CompareData-thead {
    position: sticky;
    top: 0;
    background-color: #666; /* Darker shade for the header */
    color: #fff; /* White text for contrast */
    z-index: 1; /* Ensure the header is above other content when scrolling */
  }
  
  .CompareData-th, .CompareData-td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Light border for separation */
  }
  
  .CompareData-tr:nth-child(even) {
    background-color: #eee; /* Zebra striping for rows */
  }
  
  /* Scrollbar styles for the table container (optional) */
  .CompareData-table-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .CompareData-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .CompareData-table-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .CompareData-table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  