/* styles.css */
.index{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.index-content{
  /* border: 2px solid white; */
  width: 60%;
  height: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-group{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}
.btn-group button{
  height: 20%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  border-radius: 15px;
}