.navbar{
    width: 100%;
    /* border: 1px solid red; */
    position: fixed;
    top:0;
    background-color: #333;
}
.navbar-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 5vh;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navbar-title{
    font-weight: bolder;
    color: white;
}
.navbar-links{
    
}
.navbar-links a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}